<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd">


	<bean name="abc" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/ds"></property>
	</bean>
	
	<!-- 创建spring和mybatis整合后用的工厂对象 -->
	<bean id="fact" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="abc"></property>
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor">
                    <property name="properties">
                       <props>
                           <prop key="helperDialect">mysql</prop>
                           <prop key="pageSizeZero">true</prop>
                           <prop key="reasonable">true</prop>
                       </props>
                    </property>
                </bean>
            </array>
        </property>
	</bean>
	
	<!-- mapper扫描器，来创建dao接口的实现类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.xkit.ssm.dao"></property>
		<property name="sqlSessionFactoryBeanName" value="fact"></property>
	</bean>
	
	<context:component-scan base-package="com.xkit.ssm.service.impl"></context:component-scan>
	
	<aop:aspectj-autoproxy />
	
	<!-- 提交事务 -->
	<bean id="trans" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="abc"></property>
	</bean>
	<!-- 事务级别 -->
	<tx:advice id="txAdvice" transaction-manager="trans">
		<tx:attributes>
			<tx:method name="insert*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="*" read-only="true" propagation="SUPPORTS"/>
		</tx:attributes>
	</tx:advice>
	<!-- 将切入点和事务组合 -->
	<aop:config>
		<aop:pointcut expression="execution(* com.xkit.ssm.service.impl.*.*(..))" id="pc"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pc" />
	</aop:config>

	<!-- 完成视图的对应 -->
	<context:component-scan base-package="com.xkit.ssm.handler"></context:component-scan>
	<!-- 对转向页面的路径解析。prefix：前缀， suffix：后缀 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
		<property name="prefix" value="/"/>
		<property name="suffix" value=".jsp"/>
	</bean>

	<!-- 异常处理 -->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Exception">WEB-INF/pages/error</prop>
			</props>
		</property>
	</bean>

	<!-- 文件上传解析器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize">
			<value>5242880</value>
		</property>
		<property name="defaultEncoding" value="utf-8" />
	</bean>

	<!-- 消息（响应数据）转换器 -->


	<mvc:annotation-driven conversion-service="myConversionService">
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=utf-8</value>
						<value>text/plain;charset=utf-8</value>
					</list>
				</property>
			</bean>
			<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=utf-8</value>
						<value>text/plain;charset=utf-8</value>
					</list>
				</property>
				<property name="features">
					<list>
						<value>WriteDateUseDateFormat</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>



	<mvc:resources mapping="/**" location="/statics/" />

	<bean id="myConversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="com.xkit.ssm.convert.DateConvert"></bean>
			</list>
		</property>
	</bean>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/manage/**"/>
			<bean class="com.xkit.ssm.Interceptor.LoginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
</beans>










